.account{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem, 1.2rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2;
    margin-left: 2rem;

    &__notification-count{
        height: 2rem;
        width: 2rem;
        background-color: rgb(17, 180, 17);
        border-radius: 50%;
        text-align: center;
        line-height: 1.3;
        color: $color-white;
    }
}