.contact-container{
    width: 35rem;
    height: 50rem;
    background-color: $color-primary-white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 11;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &--hidden{
        display: none;
    }
    .contacts__header{
        display: flex;
        padding: 1rem 2rem ;

        &__text{
            font-size: 2rem;
            font-weight: 500;
            color: $color-primary-dark;
        }
    }

    .search{
        width: 100%;
        border-bottom: 2px solid rgba($color-primary-dark, .2);
        padding: 1rem 2rem;
        &-input{
            font-size: 1.3rem;
            line-height: 1.6;
            padding-left: 1rem;
            border: none;
            outline: none;
        }
    }

    .contacts__list{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        overflow-y: auto;

        .contact{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;
            border-bottom: 2px solid rgba($color-primary-dark, .2);
            padding: .5rem 1rem;
            &__profile{
                width: 3rem;
                height: 3rem;
                text-align: center;
                border-radius: 50%;
                font-size: 2.5rem;
            }

            &__info{
                font-size: 1.3rem;
                
            }
        }
    }

    .contacts__footer{
        flex:1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: .5rem 1rem;
    }
}