.check{
            width: 20px;
            height: 20px;
            border: 1px solid gray;
            position: relative;
        &--checked::after{
            content: "";
            position: absolute;
            width: 5px;
            height: 12.5px;
            top: 5%;
            left: 40%;
            transform: rotate(50deg);
            border-right: 2px solid rgb(250, 247, 247);
            border-bottom: 2px solid rgb(250, 245, 245);

        }
    }