@import './input-field';
.new-group{
    width: 35rem;
    position: absolute;
    border-radius: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-primary-white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    color: $color-primary-blue;
    z-index: 20;

    .input-field{
        @extend .input-field;
    }
    .upper{
        display: flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    &__image{
        width: 8rem;
        height: 6rem;
        border-radius: 50%;
        background-color: $color-primary-blue;
        position: relative;

        .icon{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    
    &--hidden{
        display: none;
    }



    

    .lower{
        display: flex;
        justify-content: flex-end;
    }
}