.icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    color: $color-tertiary-dark;

    &--active{
            background-color: $color-primary-dark;
            color: $color-primary-blue;

    }

}