.menu{
    width: 15vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    float: left;
    background-color: $color-primary-white;
    z-index: 10;
    left: 0;
    top: 0;
    &:not(&--hidden){
        animation: moveFromLeft .51s;
    }
    &--hidden{
        transform: translateX(-50rem);
    }
    
    &--animated{
        animation: moveFromRight .51s;
    }

    &__item{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        padding: .5rem 2rem;
        cursor: pointer;
        font: {
            size: 1.4rem;
            weight: 500;
        }
        &:hover{
            background-color: $color-secondary-white;
        }
    }
}

.overlay{
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    right: 0;
    z-index: 5;
    background-color: rgba(62, 54, 54, 0.74);
    &--hidden{
        display: none;
    }
    
}