.search{
    padding: .3rem;
    width: 100%;
    background-color: $color-primary-white;
    padding: .5rem 1rem ;
    &__field{
        width: 100%;
        padding: .2rem 2rem;
        border-radius: 2rem;
        font-size: 1.4rem;
        height: 3.2rem;
        border: none;
        background-color: $color-secondary-white;
    }
}