.setting-container{
    width: 350px;
    height: 600px;
    border-radius: 1rem;
    // background-color: $color-secondary-white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 20;

    &__hidden{
        display: none;
    }
    &__header{
        width: 100%;
        border-radius: 1rem 1rem 0 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        padding: 2rem 2rem;
        .text{
            font-size: 1.5rem;
            font-weight: 500;
        }
        .actions{
            display: flex;
            flex-direction: row;
            gap: 1rem;
        }

        
    }
    .setting{
            width: 100%;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            background-color:$color-secondary-white;
            gap: 8px;

            .user__profile{
                background-color: $color-white;
                padding: 1rem 2rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1rem;
                // border-bottom: 8px solid rgba($color-primary-dark, .1);

                .image{
                    width: 7rem;
                    height: 7rem;
                    border-radius: 50%;

                }

                .user__info{
                    display: flex;
                    flex-direction: column;
                    gap: .3rem;

                    .name{
                        font-size: 1.5rem;
                        font-weight: 550;
                        color: $color-primary-dark;
                    }
                    .phone-number, .username{
                        font-size: 1.3rem;
                        color: rgba($color-primary-dark, 1);
                    }
                }
            }
            .setting-body{
                background-color: $color-white;
                display: flex;
                flex-direction: column;
                padding-top: .5rem;
                width: 100%;
                .setting-item{
                    cursor: pointer;
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                    width: 100%;
                    align-items: center;
                    padding: 1rem 2rem;

                    &:hover{
                        background-color: $color-secondary-white;
                    }
                    .icon{
                        width: 2rem;
                        height: 2rem;
                        color: rgba($color-primary-dark, .8);
                    }
                    .text{
                        font-size: 1.25rem;
                        line-height: 1.4;
                    }
                }
            }
            .setting__scale{
                background-color: $color-white;
                padding: 1rem 2rem;
                cursor: pointer;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 1rem;
               .text{
                font-size: 1.25rem;
                line-height: 1.4;
                justify-self: flex-end;
               }

               &:hover{
                        background-color: $color-secondary-white;
                    }
            }

            .telegram-features{
                display: flex;
                flex-direction: column;
                gap: .5rem;
                background-color: $color-white;
                justify-content: space-around;
                padding-top: .5rem;
                .faq, .feature, .question{
                    cursor: pointer;
                    padding: 1rem 2rem;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 1rem;                    
                    .text{
                        font-size: 1.25rem;
                        line-height: 1.4;
                        justify-self: flex-end;
                    }
                &:hover{
                        background-color: $color-secondary-white;
                    }
            }
        }

        

    }

}