.setting-container{
    width: 350px;
    height: 600px;
    border-radius: 1rem;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 20;


    &__hidden{
        display: none;
    }
    &__header{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid rgba($color-primary-dark, .2);
        
        padding: 2rem 2rem;
        .text{
            font-size: 1.5rem;
            font-weight: 500;
        }
        .actions{
            display: flex;
            flex-direction: row;
            gap: 1rem;
        }

        
    }
    .setting{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: .3rem;

            .user__profile{
                padding: 1rem 2rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1rem;
                border-bottom: 8px solid rgba($color-primary-dark, .1);

                .image{
                    width: 7rem;
                    height: 7rem;
                    border-radius: 50%;

                }

                .user__info{
                    display: flex;
                    flex-direction: column;
                    gap: .3rem;

                    .name{
                        font-size: 1.5rem;
                        font-weight: 550;
                        color: $color-primary-dark;
                    }
                    .phone-number, .username{
                        font-size: 1.3rem;
                        color: rgba($color-primary-dark, 1);
                    }
                }
            }
            .setting-body{
                padding: 1rem 2rem;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                .setting-item{
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                    width: 100%;
                    align-items: center;

                    .icon{
                        width: 2rem;
                        height: 2rem;
                        color: rgba($color-primary-dark, .6);
                    }
                    .text{
                        font-size: 1.25rem;
                        line-height: 1.7;
                    }
                }
            }
        }

}