.toggle{
            width: 24px;
            height: 12px;
            background-color: $color-secondary-dark;
            position: relative;
            margin-left: 15%;
            border-radius: 5px;
            transition: all .41s;
        &:hover{
            background-color: $color-secondary-blue;
        }
        &:hover &__circle{
            transform: translate(18px, -50%);
            background-color: rgb(238, 229, 229);
        }
        &__circle{
            transition: all .41s;
            width: 65%;
            height: 130%;
            border-radius: 50%;
            border: .5px solid $color-secondary-dark;
            top: 50%;
            left: -5px;
            transform: translateY(-50%);
            position: absolute;
            background-color: rgb(243, 247, 246);
        }
}

        
        
        