.scroll-container {
  width: 100%; 
  height: 100%; 
  overflow-y: scroll; 
  position: relative; 
}

.content {
  width: 100%; 
  height: 1000px; 
}


.scroll-container::-webkit-scrollbar {
  width: 2px; 
}

.scroll-container::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2); 
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #ee4444; 
}


.scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.scrollbar-thumb {
  background: #888;
  width: 8px;
  border-radius: 4px;
}

.scrollbar-thumb:hover {
  background: #ee4444;
}
