# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
A_In_Search_of_an_Easy_Problem.py
B_Parity_Sort.py
C_Fruits.py
C_Rebellion.py
D_Serval_and_Inversion_Magic.py
.cph
new.drawio
src/Country.tsx
.gitignore
*.py
Re.md
index.html
public/calls.png
public/conta.png
public/Screenshot 2024-03-04 010152.png
.gitignore
.gitignore
src/components/new.css
