.contact-container{
    width: 35rem;
    height: 50rem;
    background-color: $color-primary-white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 11;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &--hidden{

        display: none;
    }
    .contacts__header{
        display: flex;
        padding: 1rem 2rem ;

        &__text{
            font-size: 2rem;
            font-weight: 500;
            color: $color-secondary-dark;
        }
    }

    .search{
        width: 100%;
        border-bottom: 1px solid rgba($color-primary-dark, .2);
        padding: 1rem 2rem;
        &-input{
            font-size: 1.3rem;
            line-height: 1.6;
            padding-left: 1rem;
            border: none;
            outline: none;
        }
    }

    .contacts__list{
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        width: 100%;
        gap: .6rem;
        .contact{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding-left: 1rem;
            padding: .2rem 1rem .2rem;
            gap: .2rem 1rem;
            width: 100%;
            &__profile{
                width: 4rem;
                height: 4rem;
                text-align: center;
                font-size: 2.5rem;
                
                .image{
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                }
            }

            &__info{
                font-size: 1.3rem;
                display: flex;
                flex-direction: column;
                gap: .3rem;
                .contact__name{
                    font-weight: 700;
                }

                .contact__last-seen{
                    color: $color-tertiary-blue;
                }
                
            }

            &:hover{
                background-color: rgba($color-primary-dark, .2);
            }
        }
    }

    .contacts__footer{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: .5rem 1rem;
        border-top: 1px solid rgba($color-primary-dark, .2);

    }

    .lower{
        display: flex;
        justify-content: flex-end;
        padding: 1rem;
    }
}