.channel {
    width: 100%;
    background-color: $color-white;
    display: flex;
    flex-direction: row;
    gap: .8rem;
    padding: .4rem;

    &:hover{
        cursor: pointer;
    }
    &:not(&__active):hover{
        background-color: $color-secondary-white;
    }
    border-bottom: .1rem solid rgba($color-tertiary-dark, .15);
    &__image {
        flex: 1;
        width: 40px;
        height: 40px;
        border-radius: 20px;
    }

    &__info {
        flex: 6;
        display: flex;
        flex-direction: column;
        gap: .4rem;
    }

    &__header{
        display: flex;
        flex-direction: row;
        gap : .5rem;
        width: 100%;
        justify-content: baseline;
        align-items: baseline;
    }

    &__text {
        font-size: 1.3rem;
        font-weight: 600;
    }

    &__mute{
        flex: 1;
    }

    &__created-at{
        flex: 1;
        text-align: end;
    }

    &__active{
        background-color: $color-secondary-blue;
    }
    // &:active{
    //             background-color: $color-primary-blue;

    // }


    &__last-post{
        justify-content: end;
    }

}




