.overlay{
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    right: 0;
    z-index: 5;
    background-color: rgba(62, 54, 54, 0.74);

    &--front{
        z-index: 30;
    }
    &--hidden{
        display: none;
    }
    
}