@keyframes moveFromLeft {
    0%{
        transform: translateX(-25rem);
    }

    100%{
        transform: translateX(0rem);
    }
    
}

@keyframes moveFromRight {
    0%{
        transform: translateX(0rem);

    }
    
    100%{
        transform: translateX(-40rem);
    }
}