* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-family: sans-serif; }

.left-nav {
  background-color: #38445b;
  width: 8rem;
  height: 100vh;
  font-size: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  text-align: center;
  margin-left: -.4rem;
  color: #93b7e0; }
  .left-nav__text {
    font-family: sans-serif;
    margin-top: -4px;
    padding-bottom: 5px; }
  .left-nav__link {
    width: 100%;
    padding: .3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem; }
    .left-nav__link--active {
      background-color: #272938;
      color: #368ef2; }

.account-container {
  display: flex;
  flex-direction: column;
  gap: .6rem;
  width: 100%;
  border-bottom: 1.5px solid  #00000053; }

@keyframes moveFromLeft {
  0% {
    transform: translateX(-25rem); }
  100% {
    transform: translateX(0rem); } }

@keyframes moveFromRight {
  0% {
    transform: translateX(0rem); }
  100% {
    transform: translateX(-40rem); } }

.channel {
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  gap: .8rem;
  padding: .4rem;
  border-bottom: 0.1rem solid rgba(116, 114, 140, 0.15); }
  .channel:hover {
    cursor: pointer; }
  .channel:not(.channel__active):hover {
    background-color: #f1f1f1; }
  .channel__image {
    flex: 1;
    width: 40px;
    height: 40px;
    border-radius: 20px; }
  .channel__info {
    flex: 6;
    display: flex;
    flex-direction: column;
    gap: .4rem; }
  .channel__header {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    width: 100%;
    justify-content: baseline;
    align-items: baseline; }
  .channel__text {
    font-size: 1.3rem;
    font-weight: 600; }
  .channel__mute {
    flex: 1; }
  .channel__created-at {
    flex: 1;
    text-align: end; }
  .channel__active {
    background-color: #38ABEB; }
  .channel__last-post {
    justify-content: end; }

.icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  color: #74728c;
  cursor: pointer; }
  .icon--active {
    background-color: #272938;
    color: #368ef2; }

.search {
  padding: .3rem;
  width: 100%;
  background-color: #FFFFFF;
  padding: .5rem 1rem; }
  .search__field {
    width: 100%;
    padding: .2rem 2rem;
    border-radius: 2rem;
    font-size: 1.4rem;
    height: 3.2rem;
    border: none;
    background-color: #f1f1f1; }

.hamburger {
  margin-top: 15px; }

.menu {
  width: 15vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  float: left;
  background-color: #FFFFFF;
  z-index: 10;
  left: 0;
  top: 0; }
  .menu:not(.menu--hidden) {
    animation: moveFromLeft .51s; }
  .menu--hidden {
    transform: translateX(-50rem); }
  .menu--animated {
    animation: moveFromRight .51s; }
  .menu__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: .5rem 2rem;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 500; }
    .menu__item:hover {
      background-color: #f1f1f1; }

.overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: rgba(62, 54, 54, 0.74); }
  .overlay--front {
    z-index: 100; }
  .overlay--hidden {
    display: none; }

.profile {
  width: 100%;
  background-color: darkcyan;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1.5rem;
  font-size: 1.3rem;
  color: #FFFFFF; }
  .profile__image {
    width: 5rem;
    height: 5rem;
    border-radius: 50%; }

.account {
  display: flex;
  flex-direction: row;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
  padding-top: .5rem;
  padding-right: .5rem;
  padding-bottom: .5rem;
  padding-left: 2rem; }
  .account:hover {
    background-color: #f1f1f1; }
  .account__user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem; }
    .account__user__image {
      width: 2rem;
      height: 2rem;
      border-radius: 50%; }
  .account__notification-count {
    height: 2rem;
    width: 2rem;
    background-color: #11b411;
    border-radius: 50%;
    text-align: center;
    line-height: 1.3;
    color: #FFFFFF; }

.input-field, .new-group .input-field {
  height: 4rem;
  width: 100%;
  position: relative; }
  .input-field input, .new-group .input-field input {
    width: 100%;
    height: 100%;
    font-size: 1.7rem;
    border: 2px solid #fff;
    border-bottom: 2px solid silver;
    outline: none; }
  .input-field input:focus ~ label, .input-field input:valid ~ label {
    transform: translateY(-20px);
    font-size: 1rem;
    color: #368ef2; }
  .input-field label, .new-group .input-field label {
    position: absolute;
    bottom: 1rem;
    left: 0;
    color: #272938;
    pointer-events: none;
    font-size: 1.6rem;
    transition: all 0.5s;
    outline: none; }

.new-group {
  width: 35rem;
  position: absolute;
  border-radius: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  color: #368ef2;
  z-index: 20; }
  .new-group .upper {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    position: relative; }
  .new-group__image {
    width: 8rem;
    height: 6rem;
    border-radius: 50%;
    background-color: #368ef2;
    position: relative; }
    .new-group__image .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .new-group--hidden {
    display: none; }
  .new-group .lower {
    display: flex;
    justify-content: flex-end; }

.new-channel {
  width: 35rem;
  position: absolute;
  border-radius: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  color: #368ef2;
  z-index: 20; }
  .new-channel__description {
    font-size: medium; }
    .new-channel__description-input {
      font-size: medium;
      border: none;
      width: 100%;
      border-bottom: 2px solid rgba(39, 41, 56, 0.15); }
  .new-channel .upper {
    display: flex;
    gap: 2rem;
    justify-content: center; }
  .new-channel__image {
    width: 8rem;
    height: 6rem;
    border-radius: 50%;
    background-color: #368ef2;
    position: relative; }
    .new-channel__image .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .new-channel--hidden {
    display: none; }
  .new-channel .input-field {
    height: 4rem;
    width: 100%;
    position: relative; }
    .new-channel .input-field input {
      width: 100%;
      height: 100%;
      font-size: 1.7rem;
      border: 2px solid #fff;
      border-bottom: 2px solid silver;
      outline: none; }
    .new-channel .input-field input:focus ~ label, .new-channel .input-field input:valid ~ label {
      transform: translateY(-20px);
      font-size: 1rem;
      color: #368ef2; }
    .new-channel .input-field label {
      position: absolute;
      bottom: 1rem;
      left: 0;
      color: #272938;
      pointer-events: none;
      font-size: 1.6rem;
      transition: all 0.5s;
      outline: none; }
  .new-channel .lower {
    display: flex;
    justify-content: flex-end; }

.contact-container {
  width: 35rem;
  height: 50rem;
  background-color: #FFFFFF;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 11;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .contact-container--hidden {
    display: none; }
  .contact-container .contacts__header {
    display: flex;
    padding: 1rem 2rem; }
    .contact-container .contacts__header__text {
      font-size: 2rem;
      font-weight: 500;
      color: #38445b; }
  .contact-container .search {
    width: 100%;
    border-bottom: 1px solid rgba(39, 41, 56, 0.2);
    padding: 1rem 2rem; }
    .contact-container .search-input {
      font-size: 1.3rem;
      line-height: 1.6;
      padding-left: 1rem;
      border: none;
      outline: none; }
  .contact-container .contacts__list {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
    gap: .6rem; }
    .contact-container .contacts__list .contact {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding-left: 1rem;
      padding: .2rem 1rem .2rem;
      gap: .2rem 1rem;
      width: 100%; }
      .contact-container .contacts__list .contact__profile {
        width: 4rem;
        height: 4rem;
        text-align: center;
        font-size: 2.5rem; }
        .contact-container .contacts__list .contact__profile .image {
          border-radius: 50%;
          width: 100%;
          height: 100%; }
      .contact-container .contacts__list .contact__info {
        font-size: 1.3rem;
        display: flex;
        flex-direction: column;
        gap: .3rem; }
        .contact-container .contacts__list .contact__info .contact__name {
          font-weight: 700; }
        .contact-container .contacts__list .contact__info .contact__last-seen {
          color: #93b7e0; }
      .contact-container .contacts__list .contact:hover {
        background-color: rgba(39, 41, 56, 0.2); }
  .contact-container .contacts__footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem 1rem;
    border-top: 1px solid rgba(39, 41, 56, 0.2); }
  .contact-container .lower {
    display: flex;
    justify-content: flex-end;
    padding: 1rem; }

.calls-container {
  width: 35rem;
  height: 50rem;
  background-color: #FFFFFF;
  border: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: .3rem;
  z-index: 11;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .calls-container--hidden {
    display: none; }
  .calls-container .calls__header {
    display: flex;
    padding: 1rem 2rem; }
    .calls-container .calls__header__text {
      font-size: 2rem;
      font-weight: 500;
      color: #272938; }
  .calls-container .calls__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto; }
    .calls-container .calls__list .call {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 100%;
      align-items: center;
      gap: 1rem;
      border-bottom: 2px solid rgba(255, 255, 255, 0.2);
      padding: .5rem 1rem;
      position: relative; }
      .calls-container .calls__list .call__profile {
        width: 4rem;
        height: 4rem;
        text-align: center;
        font-size: 2.5rem; }
        .calls-container .calls__list .call__profile .image {
          border-radius: 50%;
          width: 100%;
          height: 100%; }
      .calls-container .calls__list .call__info {
        font-size: 1.3rem;
        display: flex;
        flex-direction: column;
        gap: .3rem; }
        .calls-container .calls__list .call__info .call__name {
          font-weight: 700; }
        .calls-container .calls__list .call__info .call__time {
          color: #a9a9a9; }
        .calls-container .calls__list .call__info .call__data {
          display: flex;
          flex-direction: row; }
      .calls-container .calls__list .call__icon {
        position: absolute;
        right: 2%;
        color: #a9a9a9; }
      .calls-container .calls__list .call:hover {
        background-color: rgba(39, 41, 56, 0.2); }
  .calls-container .calls__footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1rem 1rem; }

.btn {
  padding: .5rem 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  background-color: #FFFFFF;
  color: #368ef2;
  border: none;
  padding: .7rem 1rem;
  border-radius: .3rem; }
  .btn:hover {
    background-color: rgba(147, 183, 224, 0.3); }

.three-dots {
  position: absolute;
  right: 4%;
  top: 5%;
  cursor: pointer; }

.scroll-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  position: relative; }

.content {
  width: 100%;
  height: 1000px; }

.scroll-container::-webkit-scrollbar {
  width: 4px; }

.scroll-container::-webkit-scrollbar-track {
  background: #f1f1f1; }

.scroll-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px; }

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #555; }

.scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0; }

.scrollbar-thumb {
  background: #888;
  width: 8px;
  border-radius: 4px; }

.scrollbar-thumb:hover {
  background: #555; }

.setting-container {
  width: 350px;
  height: 600px;
  border-radius: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 20; }
  .setting-container__hidden {
    display: none; }
  .setting-container__header {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 2rem 2rem; }
    .setting-container__header .text {
      font-size: 1.5rem;
      font-weight: 500; }
    .setting-container__header .actions {
      display: flex;
      flex-direction: row;
      gap: 1rem; }
  .setting-container .setting {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: #f1f1f1;
    gap: 8px; }
    .setting-container .setting .user__profile {
      background-color: #FFFFFF;
      padding: 1rem 2rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem; }
      .setting-container .setting .user__profile .image {
        width: 7rem;
        height: 7rem;
        border-radius: 50%; }
      .setting-container .setting .user__profile .user__info {
        display: flex;
        flex-direction: column;
        gap: .3rem; }
        .setting-container .setting .user__profile .user__info .name {
          font-size: 1.5rem;
          font-weight: 550;
          color: #272938; }
        .setting-container .setting .user__profile .user__info .phone-number, .setting-container .setting .user__profile .user__info .username {
          font-size: 1.3rem;
          color: #272938; }
    .setting-container .setting__body {
      background-color: #FFFFFF;
      display: flex;
      flex-direction: column;
      padding-top: .5rem;
      width: 100%; }
      .setting-container .setting__body .setting-item {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: 100%;
        align-items: center;
        padding: 1rem 2rem; }
        .setting-container .setting__body .setting-item:hover {
          background-color: #f1f1f1; }
        .setting-container .setting__body .setting-item .icon {
          width: 2rem;
          height: 2rem;
          color: rgba(39, 41, 56, 0.8); }
        .setting-container .setting__body .setting-item .text {
          font-size: 1.25rem;
          line-height: 1.4; }
    .setting-container .setting__scale {
      padding: 1rem 2rem;
      background-color: #FFFFFF;
      cursor: pointer;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 1rem; }
      .setting-container .setting__scale .text {
        font-size: 1.25rem;
        line-height: 1.4; }
      .setting-container .setting__scale .toggle {
        margin-left: auto; }
      .setting-container .setting__scale:hover {
        background-color: #f1f1f1; }
    .setting-container .setting .telegram-features {
      display: flex;
      flex-direction: column;
      gap: .5rem;
      background-color: #FFFFFF;
      justify-content: space-around;
      padding-top: .5rem; }
      .setting-container .setting .telegram-features .faq, .setting-container .setting .telegram-features .feature, .setting-container .setting .telegram-features .question {
        cursor: pointer;
        padding: 1rem 2rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem; }
        .setting-container .setting .telegram-features .faq .text, .setting-container .setting .telegram-features .feature .text, .setting-container .setting .telegram-features .question .text {
          font-size: 1.25rem;
          line-height: 1.4;
          justify-self: flex-end; }
        .setting-container .setting .telegram-features .faq:hover, .setting-container .setting .telegram-features .feature:hover, .setting-container .setting .telegram-features .question:hover {
          background-color: #f1f1f1; }

.toggle {
  width: 24px;
  height: 12px;
  background-color: #38445b;
  position: relative;
  margin-left: 15%;
  border-radius: 5px;
  transition: all .41s; }
  .toggle:hover {
    background-color: #38ABEB; }
  .toggle:hover .toggle__circle {
    transform: translate(18px, -50%);
    background-color: #eee5e5; }
  .toggle__circle {
    transition: all .41s;
    width: 65%;
    height: 130%;
    border-radius: 50%;
    border: 0.5px solid #38445b;
    top: 50%;
    left: -5px;
    transform: translateY(-50%);
    position: absolute;
    background-color: #f3f7f6; }

.my-account {
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  border-radius: 10px;
  gap: .5rem;
  display: flex;
  flex-direction: column;
  color: #368ef2;
  z-index: 20; }
  .my-account--hidden {
    display: none; }
  .my-account__header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    align-items: center;
    padding: 2rem; }
    .my-account__header .title {
      font-size: 1.5rem;
      font-weight: 550;
      color: #38445b; }
    .my-account__header .close {
      margin-left: auto; }
  .my-account__profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .4rem; }
    .my-account__profile .name {
      font-size: 1.4rem;
      font-weight: 550;
      color: #38445b; }
    .my-account__profile .login-time {
      color: #74728c;
      font-size: 1.2rem; }
    .my-account__profile .image {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      cursor: pointer;
      border: 2px solid #368ef2; }
  .my-account .bio {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    color: #38445b;
    padding: 2rem 2rem; }
  .my-account .details {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: 1rem 0; }
    .my-account .details__header {
      font-size: 1.3rem;
      color: #74728c;
      padding: 2rem 2rem;
      background-color: rgba(169, 169, 169, 0.3); }
    .my-account .details__list {
      width: 100%;
      display: flex;
      flex-direction: column; }
      .my-account .details__list .detail-item {
        cursor: pointer;
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 1rem 2rem;
        gap: 1rem;
        align-items: center;
        font-size: 1.3rem; }
        .my-account .details__list .detail-item:hover {
          background-color: rgba(169, 169, 169, 0.3); }
        .my-account .details__list .detail-item .title {
          color: #272938; }
        .my-account .details__list .detail-item .value {
          margin-left: auto; }
    .my-account .details__footer {
      width: 100%;
      background-color: rgba(169, 169, 169, 0.3); }
      .my-account .details__footer .text {
        font-size: 1.3rem;
        color: #74728c;
        padding: 2rem 2rem; }
    .my-account .details .add-account {
      cursor: pointer;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 1rem;
      gap: 1rem; }
      .my-account .details .add-account:hover {
        background-color: rgba(169, 169, 169, 0.3); }
      .my-account .details .add-account .icon {
        background-color: #38ABEB;
        border-radius: 50%; }
      .my-account .details .add-account .text {
        font-size: 1.3rem;
        color: #38445b; }

.notification {
  width: 350px;
  height: 650px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  z-index: 11;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column; }
  .notification--hidden {
    display: none; }
  .notification__header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    gap: 1rem; }
    .notification__header .title {
      font-size: 1.4rem;
      font-weight: 500; }
    .notification__header .close {
      margin-left: auto; }
  .notification__body {
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    gap: 1rem;
    border-radius: 0 0 10px 10px; }
  .notification__global-setting, .notification__events, .notification__calls, .notification__badge, .notification__native {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 1rem 0; }
    .notification__global-setting .header, .notification__events .header, .notification__calls .header, .notification__badge .header, .notification__native .header {
      font-size: 1.5rem;
      font-weight: 500;
      color: #38ABEB;
      padding: 1rem 2rem; }
    .notification__global-setting .setting-item, .notification__global-setting .event, .notification__global-setting .call-setting, .notification__global-setting .badge-item, .notification__global-setting .native-item, .notification__events .setting-item, .notification__events .event, .notification__events .call-setting, .notification__events .badge-item, .notification__events .native-item, .notification__calls .setting-item, .notification__calls .event, .notification__calls .call-setting, .notification__calls .badge-item, .notification__calls .native-item, .notification__badge .setting-item, .notification__badge .event, .notification__badge .call-setting, .notification__badge .badge-item, .notification__badge .native-item, .notification__native .setting-item, .notification__native .event, .notification__native .call-setting, .notification__native .badge-item, .notification__native .native-item {
      display: flex;
      flex-direction: row;
      padding: 1rem 2rem;
      align-items: center;
      gap: 1rem;
      cursor: pointer; }
      .notification__global-setting .setting-item:hover, .notification__global-setting .event:hover, .notification__global-setting .call-setting:hover, .notification__global-setting .badge-item:hover, .notification__global-setting .native-item:hover, .notification__events .setting-item:hover, .notification__events .event:hover, .notification__events .call-setting:hover, .notification__events .badge-item:hover, .notification__events .native-item:hover, .notification__calls .setting-item:hover, .notification__calls .event:hover, .notification__calls .call-setting:hover, .notification__calls .badge-item:hover, .notification__calls .native-item:hover, .notification__badge .setting-item:hover, .notification__badge .event:hover, .notification__badge .call-setting:hover, .notification__badge .badge-item:hover, .notification__badge .native-item:hover, .notification__native .setting-item:hover, .notification__native .event:hover, .notification__native .call-setting:hover, .notification__native .badge-item:hover, .notification__native .native-item:hover {
        background-color: #f1f1f1; }
      .notification__global-setting .setting-item .title, .notification__global-setting .event .title, .notification__global-setting .call-setting .title, .notification__global-setting .badge-item .title, .notification__global-setting .native-item .title, .notification__events .setting-item .title, .notification__events .event .title, .notification__events .call-setting .title, .notification__events .badge-item .title, .notification__events .native-item .title, .notification__calls .setting-item .title, .notification__calls .event .title, .notification__calls .call-setting .title, .notification__calls .badge-item .title, .notification__calls .native-item .title, .notification__badge .setting-item .title, .notification__badge .event .title, .notification__badge .call-setting .title, .notification__badge .badge-item .title, .notification__badge .native-item .title, .notification__native .setting-item .title, .notification__native .event .title, .notification__native .call-setting .title, .notification__native .badge-item .title, .notification__native .native-item .title {
        font-size: 1.4rem;
        font-weight: 500; }
      .notification__global-setting .setting-item .toggle, .notification__global-setting .event .toggle, .notification__global-setting .call-setting .toggle, .notification__global-setting .badge-item .toggle, .notification__global-setting .native-item .toggle, .notification__events .setting-item .toggle, .notification__events .event .toggle, .notification__events .call-setting .toggle, .notification__events .badge-item .toggle, .notification__events .native-item .toggle, .notification__calls .setting-item .toggle, .notification__calls .event .toggle, .notification__calls .call-setting .toggle, .notification__calls .badge-item .toggle, .notification__calls .native-item .toggle, .notification__badge .setting-item .toggle, .notification__badge .event .toggle, .notification__badge .call-setting .toggle, .notification__badge .badge-item .toggle, .notification__badge .native-item .toggle, .notification__native .setting-item .toggle, .notification__native .event .toggle, .notification__native .call-setting .toggle, .notification__native .badge-item .toggle, .notification__native .native-item .toggle {
        margin-left: auto; }
  .notification__chat-notification {
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 0; }
    .notification__chat-notification .header {
      font-size: 1.5rem;
      font-weight: 500;
      color: #38ABEB;
      padding: 1rem 2rem; }
    .notification__chat-notification .chat-item {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      padding: 1rem 2rem;
      align-items: center;
      gap: 1rem; }
      .notification__chat-notification .chat-item:hover {
        background-color: #f1f1f1; }
      .notification__chat-notification .chat-item .chat-type {
        display: flex;
        flex-direction: column;
        font-size: 1.4rem; }
        .notification__chat-notification .chat-item .chat-type .exception {
          color: #a9a9a9; }
      .notification__chat-notification .chat-item .toggle {
        margin-left: auto; }
  .notification__screen {
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    flex-direction: column; }
    .notification__screen .header {
      font-size: 1.5rem;
      font-weight: 500;
      color: #38ABEB;
      padding: 1rem 2rem; }
    .notification__screen .image {
      padding: 1rem 2rem;
      width: 320px;
      height: 250px;
      align-self: center;
      cursor: pointer; }
  .notification__count {
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem; }
    .notification__count .header {
      font-size: 1.5rem;
      font-weight: 500;
      color: #38ABEB;
      padding: 1rem 2rem; }
    .notification__count ul {
      width: 100%;
      list-style-type: none; }
      .notification__count ul li {
        cursor: pointer;
        width: 50px;
        display: inline-block;
        text-align: center;
        border-top: 2px solid rgba(56, 68, 91, 0.3);
        padding: 1rem;
        font-size: 1.3rem; }
        .notification__count ul li:not(:last-child) {
          margin-right: 1rem; }

.privacy {
  width: 350px;
  height: 600px;
  border-radius: 1rem;
  position: absolute;
  background-color: #FFFFFF;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  color: #368ef2;
  z-index: 20; }
  .privacy--hidden {
    display: none; }
  .privacy__header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid #f1f1f1; }
    .privacy__header .title {
      font-size: 1.5rem;
      font-weight: 550;
      color: #38445b; }
    .privacy__header .close {
      margin-left: auto; }
  .privacy .body {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto; }
    .privacy .body .security, .privacy .body .privacy-section, .privacy .body .sensitive-content, .privacy .body .bot-and-websites, .privacy .body .delete-my-account {
      display: flex;
      flex-direction: column;
      font-size: 1.2rem;
      padding: 1rem 0;
      font-weight: 550; }
      .privacy .body .security .header, .privacy .body .privacy-section .header, .privacy .body .sensitive-content .header, .privacy .body .bot-and-websites .header, .privacy .body .delete-my-account .header {
        padding-left: 2rem;
        margin-bottom: 1rem; }
      .privacy .body .security .content-item, .privacy .body .privacy-section .content-item, .privacy .body .sensitive-content .content-item, .privacy .body .bot-and-websites .content-item, .privacy .body .delete-my-account .content-item {
        display: flex;
        padding: 1rem 2rem;
        align-items: center;
        gap: 2rem; }
        .privacy .body .security .content-item .text, .privacy .body .security .content-item .type, .privacy .body .security .content-item .title, .privacy .body .security .content-item .clear-payment, .privacy .body .privacy-section .content-item .text, .privacy .body .privacy-section .content-item .type, .privacy .body .privacy-section .content-item .title, .privacy .body .privacy-section .content-item .clear-payment, .privacy .body .sensitive-content .content-item .text, .privacy .body .sensitive-content .content-item .type, .privacy .body .sensitive-content .content-item .title, .privacy .body .sensitive-content .content-item .clear-payment, .privacy .body .bot-and-websites .content-item .text, .privacy .body .bot-and-websites .content-item .type, .privacy .body .bot-and-websites .content-item .title, .privacy .body .bot-and-websites .content-item .clear-payment, .privacy .body .delete-my-account .content-item .text, .privacy .body .delete-my-account .content-item .type, .privacy .body .delete-my-account .content-item .title, .privacy .body .delete-my-account .content-item .clear-payment {
          color: #74728c; }
        .privacy .body .security .content-item .switch, .privacy .body .security .content-item .value, .privacy .body .security .content-item .toggle, .privacy .body .privacy-section .content-item .switch, .privacy .body .privacy-section .content-item .value, .privacy .body .privacy-section .content-item .toggle, .privacy .body .sensitive-content .content-item .switch, .privacy .body .sensitive-content .content-item .value, .privacy .body .sensitive-content .content-item .toggle, .privacy .body .bot-and-websites .content-item .switch, .privacy .body .bot-and-websites .content-item .value, .privacy .body .bot-and-websites .content-item .toggle, .privacy .body .delete-my-account .content-item .switch, .privacy .body .delete-my-account .content-item .value, .privacy .body .delete-my-account .content-item .toggle {
          margin-left: auto; }
        .privacy .body .security .content-item:hover, .privacy .body .privacy-section .content-item:hover, .privacy .body .sensitive-content .content-item:hover, .privacy .body .bot-and-websites .content-item:hover, .privacy .body .delete-my-account .content-item:hover {
          background-color: #f1f1f1; }
      .privacy .body .security .footer, .privacy .body .privacy-section .footer, .privacy .body .sensitive-content .footer, .privacy .body .bot-and-websites .footer, .privacy .body .delete-my-account .footer {
        background-color: #f1f1f1;
        margin-top: 1rem; }
        .privacy .body .security .footer .text, .privacy .body .privacy-section .footer .text, .privacy .body .sensitive-content .footer .text, .privacy .body .bot-and-websites .footer .text, .privacy .body .delete-my-account .footer .text {
          color: #74728c;
          font-size: 1.3rem;
          padding: 2rem 3rem; }
    .privacy .body .bot-and-websites {
      border-bottom: 1rem solid #f1f1f1;
      border-top: 1rem solid #f1f1f1; }

.check {
  width: 20px;
  height: 20px;
  border: 1px solid gray;
  position: relative; }
  .check--checked::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 12.5px;
    top: 5%;
    left: 40%;
    transform: rotate(50deg);
    border-right: 2px solid #faf7f7;
    border-bottom: 2px solid #faf5f5; }

.radio-btn {
  width: 20px;
  height: 20px;
  border: 1px solid gray;
  border-radius: 50%;
  position: relative; }
  .radio-btn--checked::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 70%;
    height: 70%;
    background-color: #3a8be7;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.main {
  display: flex;
  width: 100%;
  height: 100vh; }

.body-container {
  width: 25rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.channel-container {
  width: 100%;
  height: 100vh;
  background-color: #FFFFFF;
  /* Required for the absolute positioning of the scrollbar */ }
