$color-white : #FFFFFF;

$color-primary-dark : #272938;
$color-secondary-dark : #38445b;
$color-tertiary-dark : #74728c;

$color-primary-white : #FFFFFF;
$color-secondary-white : #e1e1e1;
$color-tertiary-white: #a9a9a9;

$color-primary-blue : #368ef2;
$color-secondary-blue : #4e87c7;
$color-tertiary-blue : #93b7e0;